/* Mulish font family  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
/* Inter font family  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary_color: #FF5400;
    --button_color: #FF5400;
}

/* common class below  */

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.p_light {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.heading {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn_primary {
    border-radius: 8px;
    background: var(--button_color);
    color: white;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


/* header section code  */
.header_containar {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0;
}

.nav>.logo>h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.nav>.logo>h1>span {
    color: var(--primary_color);
}

.nav>.logo>h1>span>img {
    width: 48px;
    height: 56.008px;
    margin-right: 10px;
}


.menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin-right: 44px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.menu ul li:hover a {
    color: var(--primary_color);
}



/* banar section code  */
.banner_section {
    height: 500px;
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 100px;
}

.banner_bg_gradient {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}

.banner_bg {
    background-image: url('../images/bannar.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 100%;
}

.banner_content {
    width: 810px;
    position: absolute;
    margin: 0 auto;
    top: 95px;
    left: 200px;
    opacity: 2;
}

.banner_content>h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 24px;
}

.banner_content>.p_light {
    color: #FFF;
    margin-bottom: 50px;
}

.banner_content>form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
}

.banner_content input[type=text],
select,
input[type=button] {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 8px;
    margin-right: 24px;
}


input[type=button] {
    background-image: url('../icons/search-48.png');
    background-position: 11px 3px;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    margin-right: 0px;
    background-color: var(--button_color);
    color: white;
}


/* Popular Tours  */

.popular_tour_container {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    gap: 30px;
    height: 540px;
}

.popular_tour_content>h2 {
    margin-bottom: 30px;
}

.popular_tour_content>p {
    margin: 27px 0;
}

.popular_tour_content>ul {
    padding: 0px 34px;
}
.popular_tour_content>ul>li {
    margin-bottom: 15px;
}

.popular_tour_content>button {
    padding: 15px 30px;
}


.popular_tour_img {
    width: 100%;
}

.popular_tour_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* choose    destination  */


.choose_destination {}
.choose_destination_content >h2{

}
.choose_destination_content >p {

}
.choose_destinaton_grid_image_containar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}


#choose_destination_single_img1{
    grid-column: 1 / 7;
}
#choose_destination_single_img2{
    grid-column: 7 / 13;
}